@import "tailwindcss";

:root {
  /* Main color palette */
  --gray: #f5f5f5;
  --dark-gray: #d9d9d9;
  --black: #000000;
  --primary: #ff9a56;

  /* Text color */
  --foreground: #171717;
}

@theme inline {
  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
  --color-black: var(--black);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray: #1a1a1a;
    --foreground: #ededed;
  }
}

body {
  background: var(--gray);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
